extends ../layouts/default

block css
	link(rel="stylesheet", href="/js/lib/fancybox/jquery.fancybox.css")
				
block content
	.page-header
		h1 Notes
		a(href='/keystone/galleries?new').btn.btn-default.pull-right.btn-info= user ? 'Add Notes' : 'Sign in to Add Notes'
		a(href='/keystone/galleries').btn.btn-primary.center-block.modal-sm.btn-group-sm Search Database

	if galleries.length
		each gallery, i in galleries
			h3
				| #{gallery.name}  - #{gallery.Branch} #{gallery.Sem} 
			//- h6  
				//- | #{gallery.Topics} 
			//- p #{gallery}
				small.text-muted= gallery._.publishedDate.format('Do MMM YYYY')
			
			.row
				each image, i in gallery.images
					//- p: i
					.col-xs-4.col-sm-3.col-md-2(style="margin-bottom: 30px;")
						a(href=image.limit(900,600), title=gallery.name + ' image ' + (i+1), rel=gallery.key).gallery-image
							img(src=image.fill(300,300), alt=gallery.name + ' image ' + (i+1)).img-thumbnail
		
	else
		.jumbotron.text-center
			h3(style="margin-bottom:0;margin-top:0;") There are no Notes yet.


block page-js
	script(src="/js/lib/fancybox/jquery.fancybox.pack.js")
	script.
		jQuery(function($) {
			$('.gallery-image').fancybox({
				prevEffect: 'none',
				nextEffect: 'none',
				closeBtn: false,
				helpers: {
					titl: {},
					buttons: {}
				}
			});
		});
