extends ../layouts/default

block css
	link(rel="stylesheet", href="/js/lib/fancybox/jquery.fancybox.css")
				
block content
	.page-header
		a(href='/keystone/previous?new').btn.btn-default.pull-right= user ? 'Add questions papers' : 'Sign in to Add Album'
		h1 Previous Year Papers

	if previous.length
		each previous, i in galleries
			h3
				| #{previous.name} 
				small.text-muted= previous._.publishedDate.format('Do MMM YYYY')
			
			.row
				each image, i in previous.images
					.col-xs-4.col-sm-3.col-md-2(style="margin-bottom: 30px;")
						a(href=image.limit(900,600), title=previous.name + ' image ' + (i+1), rel=previous.key).previous-image
							img(src=image.fill(300,300), alt=previous.name + ' image ' + (i+1)).img-thumbnail
		
	else
		.jumbotron.text-center
			h3(style="margin-bottom:0;margin-top:0;") There are no previous years papers added yet.


block page-js
	script(src="/js/lib/fancybox/jquery.fancybox.pack.js")
	script.
		jQuery(function($) {
			$('.previous-image').fancybox({
				prevEffect: 'none',
				nextEffect: 'none',
				closeBtn: false,
				helpers: {
					titl: {},
					buttons: {}
				}
			});
		});
